@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('../fonts/proximanova-semibold.eot');
  src: url('../fonts/proximanova-semibold.eot') format('embedded-opentype'), url('../fonts/proximanova-semibold.woff') format('woff'), url('../fonts/proximanova-semibold.ttf') format('truetype'), url('../fonts/proximanova-semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-custom {
  color: #346EBC;
}

.navbar-main {
  z-index: 2;
}
.navbar-secondary {
  background-color: #0B4396;
  padding: 0 24px;
}


.no-border {
  border: none;
  border-radius: 0;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: #F6F8FC;
  font-family: 'ProximaNova-SemiBold';
  min-height: 75rem;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.navbar-brand {
  margin-right: 40px;
}

.navbar-brand img{
  height: 28px;
}

.navbar .icons img{
  height: 24px;
}

.nav-tabs {
  border: none;
  
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.btn-cta {
  color: #FFFFFF;
  background-color: #35CDA0;
  border-color: #35CDA0;
  font-size: 14px;
}

.btn-cta:hover {
  background-color: #029A6D;
  border-color: #029A6D;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active {
  font-size: 14px;
  color: #FFFFFF;
  padding: 17px 24px;
  background-color: transparent;
  border: none;
}

.nav-tabs .nav-link.active{
  background-color: transparent;
  border-bottom: 5px solid #009FE0;
}

.nav-tabs .nav-link:not(.active):hover{
  color: #ccc;
}

.avatar img{
  height: 36px;
}

.avatar .navbar-text{
  color: #346EBC;
  font-size: 14px;
}

.badge-red {
  background-color: #FF0000;
  border-radius: 50%;
  color: #FFFFFF;
  height: 2em;
  padding: 0.5em;
  vertical-align: middle;
  width: 2em;
}
/* Dropdown menu */
.dropdown-toggle img {
  height: 20px;
  margin-right: 14px;
}
.dropdown-toggle::after{
  content: none;
}
.dropdown-menu {
  padding-bottom: 20px;
  padding-left: 40px;
  box-shadow: 0px 0px 50px #666;
}
.dropdown-label{
  vertical-align: middle;
  font-size: 20px;
  color: #346EBC;
}
.dropdown-item .dropdown-label{
  font-size: 18px;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}
.dropdown-icon{
  height: 24px;
  margin-right: 0.5em;
}
.dropdown .selected {
  display: inline-block;
}

/* Body */

.main {
  padding: 24px;
}

.main .title {
  color: #424242;
  font-size: 24px;
  margin-bottom: 16px;
}

.main .card {
  box-shadow: 0px 2px 5px 1px #ccc;
}

@media (max-width: 576px) {
  .nav-tabs, .btn-cta {
    width: 100%;
  }
  .btn-cta {
    margin: 1em 0px;
  }
}

@media (max-width: 767.98px) {
  .dropdown-menu {
    padding-left: 0;
    box-shadow: none;
  }

  .offcanvas-collapse {
    background-color: #FFFFFF;
  }

  .offcanvas-collapse .nav-buttons {
    align-items: initial !important;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
  }

  .offcanvas-collapse .nav-buttons .nav-link {
    color: #346EBC;
  }
}
